body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.search-field {
  border: none;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  /* border: none; */
}
.white{
  color:white;
  font-weight: 700;
}
.search-fields {
  margin-bottom: 60px;
}
.search-box {
  margin: auto;
  margin-top: 50px;
}
.search-field {
  border: 2px solid black;
  border-radius: 5px ;
  padding: 5px;
  width: 40%;
}
.search-button{
  padding: 4px;
  margin-right: 3px;
  background-color: cadetblue;
  color: black;
  font: 700;
  font-weight: 700;
  border-radius: 5px;
}
.search-button:hover{
  background-color: darkgrey;
  box-shadow: 4px 4px 7px cadetblue;

}
.all-product{
  /* margin-left: 10px; */
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  gap: 5px;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  color: black;
  background-color:cadetblue;
  height: 500px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px cadetblue;
  border-radius: 20px;
  background-color:darkgrey;
  border: 2px solid cadetblue;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  background-color: cadetblue;
  color: black;
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
